// Vertical Spacing
h1, h2, h3, h4, ul, p { @include interpolate(padding-bottom, $sm, 10px, $xl, 20px, $interpolateEase); }

section {
  @include interpolate((padding-top,padding-bottom), $sm, 20px, $xl, 40px, $interpolateEase);
}

header.header {
//    @include interpolate((padding-top,padding-bottom), $sm, 20px, $xl, 30px, $interpolateEase);
}

footer {
  @include interpolate((padding-top,padding-bottom), $sm, 30px, $xl, 50px, $interpolateEase);
}

// Horizontal Spacing
.menu__top, .menu__bottom, section, footer {
  // @include wrap;
  overflow: hidden;
}