
@font-face {
  font-family: $custom;
  src:  url(/assets/fonts/MetricWeb-Medium.eot) format("eot");
  src:  url(/assets/fonts/MetricWeb-Medium.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: $custom;
  src:  url(/assets/fonts/MetricWeb-Regular.eot) format("eot");
  src:  url(/assets/fonts/MetricWeb-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}



// Character Styles 
.bold { font-weight: 700; }
.regular { font-weight: 400; }
.italic { font-style: italic;  }
.caps { text-transform: uppercase; }
.display { 
  text-transform: uppercase; 
  letter-spacing: -1px; 
}

// Defaults
body  { 
  font-family: $family;
  @include interpolate(font-size, $sm, 16px, $xl, 18px); 
  line-height: 1.2em;
  font-weight: 400;
}

a {
  @include interpolate(font-size, $sm, 16px, $xl, 18px); 
  line-height: 1em;
}

p, address, li { 
  @include interpolate(font-size, $sm, 16px, $xl, 18px);
  line-height: 1.5em; 
}

strong { @extend .bold; }

h1    { 
  @include interpolate(font-size, $sm, 30px, $xl, 72px);
  line-height: 1.2em;
}

h2    {
  @include interpolate(font-size, $sm, 25px, $xl, 53px);
  line-height: 1em;
}

h3    { 
  @include interpolate(font-size, $sm, 22px, $xl, 32px);
  line-height: 1.2em;
}

h4    { 
  @include interpolate(font-size, $sm, 20px, $xl, 28px);
  line-height: 1.2em;
}

h5    { 
  @include interpolate(font-size, $sm, 18px, $xl, 22px);
  line-height: 1.2em;
}

h6    { 
  @include interpolate(font-size, $md, 16px, $xl, 21px);
  line-height: 1.2em;
}



// Paragraph Styles
.t-nav { 
  @include interpolate(font-size, $sm, 16px, $xl, 18px);
  @extend 
    .bold,
    .caps;
 }