// Variables

// Colours 
$primary:        rgba(0,29,149,1);
$highlight:     rgba(8,239,183,1);
$secondary:      rgba(254,55,106,1);
$light-blue:   rgba(204,210,232,1);
$white:          rgba(255,255,255,1);
$grey:          rgba(225,255,255,1);

// Media Query Breakpoints
$xs: 480px; $sm: 768px;  $md: 1024px; $lg: 1440px;  $xl: 1600px;

// Fonts 
$custom: "Metric";
$family: #{$custom}, "Helvetica Neue", Helvetica, Arial, sans-serif;

// Animation / Interpolation
$ease: cubic-bezier(0.645, 0.045, 0.355, 1);
$interpolateEase: 'cubic-bezier(0.95, 0.05, 0.795, 0.035)';
